.user-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
h2 {
  font-size: 5px;
  margin: 20px 0;
  text-align: center;
}
  li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    font-size: 14px;
  }
  .user-table-header {
    background-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(195,180,217,1) 0%, rgba(175,200,230,0.4602883389683998) 0%);
    font-size: 14px;
    border: 1px solid black;
    color: black;
    text-transform: uppercase;
    margin-bottom: 25px;
    /* letter-spacing: 0.03em; */
  }
  .user-table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  }
  .user-col-1 {
    margin-left: 20px;
  }
  .user-col-2 {
    margin-left: 20px;
  }
  .user-col-3 {
    margin-left: 90px;
  }
  .user-col-4 {
    margin-left: 110px;
  }
  .user-col-5 {
    margin-left: 20px;
  }
  .user-col-6 {
    margin-left: 20px;
  }
  
  @media all and (max-width: 767px) {
    .user-table-header {
      display: none;
    }
    li {
      display: block;
    }
    /* .user-col {
      flex-basis: 100%;
    } */
    .user-col {
      display: flex;
      padding: 10px 0;
      /* &::before:{
        color:#6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
      } */
    }
  }
.table-row{
  border: 1px solid black;
}